:root {
    --number-of-block: 16;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(var(--number-of-block), 1fr);
    width: 500px;
    height: 500px;
    border: 1px black solid;
    margin-inline: auto;
}

.black {
    background-color: rgba(0, 0, 0);
}

input[type=range] {
    accent-color: rgba(0, 0, 0);
}

