:root {
    --number-of-block: 16;
    /* --current-color: black; */
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border: 1px black solid;
    margin-inline: auto;
}

.block {
    flex-basis: var(--number-of-block);
}

.black {
    background-color: rgba(0, 0, 0);
}

input[type=range] {
    accent-color: rgba(0, 0, 0);
}

